.shopcategory-banner{
    width: 100%;
    margin: 20px auto;
    display: block;

}
.shopcategory-indexSort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 170px;
}
.shopcategory-sort{
    border-radius: 40px;
    padding:  10px 20px;
    border: 1px solid #888;
}
.shopcategory-indexSort p span{
    font-weight: 600;

}
.shopcategory-products{
    display: grid;
 margin: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.shopcategory-loadmore{
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    display: flex;
    width: 160px;
    height: 50px;
    border-radius: 75px;
    color: #787878;
    font-size: 18px;
    background: #ededed;
    font-weight: 500;
    cursor: pointer;
}